.preview-wrapper {
  width: 50%;
  float: left;
  text-align: center;
  position: relative;
}
.preview-control {
  padding-top: 5px;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 100;
  a {
    color: white;
  }
}
