<div ng-controller="PreviewCtrl" class="col-md-12">
  <div class="preview-control">
    <a href="#" ng-click="gif()"><i class="fa fa-download"></i> gif it</a>
  </div>
  <div project-preview="project"></div>
</div>
