.webcam-wrapper {
  width: 50%;
  float: left;
  text-align: center;
  position: relative;
}
.webcam-control {
  padding-top: 5px;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 100;
  a {
    color: white;
  }
}
.webcam-wrapper {
  video {
    position: relative;
    z-index: 50;
  }
}
