<div class="webcam-control">
  <a ng-show="!recording" href="#" ng-click="startRecording()" class="record"><i class="fa fa-circle"></i> record</a>
  <a ng-show="recording" ng-click="stopRecording()" href="#" class="stop"><i class="fa fa-stop"></i> stop</a>
</div>
<video autoplay="true"></video>
