
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

body {
  font-family: 'Muli';
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  text-align: middle;
  // border-bottom: 2px solid white;
  // line-height: 1em;
  // padding-bottom: 4px;
}
// Component styles are injected through grunt
// injector
@import 'clip/thumbnail/clip-thumbnail.scss';
@import 'main/main.scss';
@import 'preview/preview.scss';
@import 'timeline/timeline.scss';
@import 'webcam/webcam.scss';
// endinjector
