<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->

<div class="main-wrapper">
  <div class="webcam-wrapper">
    <webcam></webcam>
  </div>
  <div class="preview-wrapper">
    <div ng-include="'components/preview/preview.html'"></div>
  </div>
  <div class="timeline-wrapper">
    <div ng-include="'components/timeline/timeline.html'"></div>
  </div>
</div>
